.availability-form {
    margin-top: 25px;
    padding: 0px 35px;
}


.availability-form {
margin-top: -50px;
z-index: 2;
position: relative;
}

.h-line {
width: 150px;
margin: 0 auto;
height: 1.7px;
}

.send{
    margin-top: 20px;
    float: right;
}