{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<body{% if request.resolver_match.url_name=='login' %} class="login-body" {% endif %}>
    <div class="login-form text-center rounded bg-white shadow overflow-hidden">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <label for="username">Username</label>
                <input type="username" name="username" autocomplete="off">
            </div>
            <div class="row">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Login</button>
            <div>
                {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
            </div>
        </form>
    </div>
    </body>
    {% endblock %}